i{
    font-size: 4vw;
}
nav{
    display: flex;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
}
.icon {
    width: 4vw;
}
.search-container{
    margin: 0;
    width: 100%;
    height: 30px;
    padding: 20px 5px 0px 5px;
}