body {
	display: flex;
	justify-content: center;
	align-items: center;
}

.contentContainer {
	background-color: #ffffff;
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	width: 300px;
	height: 300px;
}